body{
	margin: 0;
}

*{
	font-family: 'Roboto', Thin;
}

#kupuje{
	float: right;
}

#lista_img_uslug{
	width: 100%;
}

#statusek{
	float: right;
}

footer {
	margin-top: 10px;
	background-color: #00BCD4;
	color: #E0F7FA;
	padding: 30px;
	border-top: 3px solid #4DD0E1;
}

#uslugi {
	height: auto;
	transition: all 1s;
}

#main{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#right{
	float: right;
}

#img_header{
	background-image: url('../images/header.jpg');
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	background-color: #e9faff;
}

@media screen and (max-width: 768px) {
	.cssmenu ul .last{
		float: none;
		background-color: inherit;
	}
	
	.cssmenu ul{
		width: 100%;
	}
	
	#main{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}